{% extends 'base.jinja2' %}

{% macro book_item(book) %}
  {% if book.id == active_book.id %}
    {% set color = "w3-pale-green" %}
  {% else %}
    {% set color = "w3-white" %}
  {% endif %}
  <div class="w3-container w3-left-bar w3-panel w3-card-4 w3-hover-sepia {{ color }}">
    {% if book.thumbnail_fn %}
      <img style="float: right;" src="static/{{ book.thumbnail_fn }}" height="100px" />
    {% else %}
      <img style="float: right;" src="static/241px-Audio_Book_Icon_1.svg.png" height="100px" />
    {% endif %}
    <p>
      <h4><a href="{{ url_for('book', book_id=book.id) }}">{{ book.location }}</a></h4>
      {% if book.id == active_book.id %}
        <a href="{{ url_for('stop') }}"><i class="fa fa-fw fa-pause"></i></a>
      {% endif %}
      {% if book.id != active_book.id %}
        <a href="{{ url_for('play', book_id=book.id) }}"><i class="fa fa-fw fa-play"></i></a>
      {% endif %}
      {% if book.files %}
        {{ book.files[book.play_file_index].split("/")[-1:][0] }}
      {% endif %}
    </p>
  </div>
{% endmacro %}

{% block content %}
  <header class="w3-container w3-indigo">
    <h2><a href="{{ url_for('index') }}"><i class="fa fa-fw fa-bank"></i> Audiobooks</a></h2>
  </header>

  {% if active_book %}
    {{ book_item(active_book) }}
  {% endif %}
  {% for book in books if book != active_book %}
    {{ book_item(book) }}
  {% endfor %}

  <div class="w3-container w3-panel w3-card-4 w3-white">

    <h2>Add audiobook</h2>
    <form method="POST">
      <p>
        <label>Audiobook location:</label>
        <input class="w3-input" type="text" name="location" minlength=2/>
      </p>
      <button class="w3-input w3-blue" type="Submit" name="Submit" value="Submit_add_book">
        <i class="fa fa-fw fa-plus"></i> Add
      </button>
      </p>
    </form>
  </div>

{% endblock %}
